<div class="container__big-card">

   <div class="big-card__photo">
      <img
         src="https://tse1.mm.bing.net/th/id/OIP.Q0aa7nr_pt92jfn4TtQabgHaFl?rs=1&pid=ImgDetMain"
         alt=""
         srcset=" "
       >
   </div>
   <a href="#">
     <div class="big-card__title">
       <h1>Nova versão do Angular disponível</h1>
     </div>
   </a>

   <div class="big-card__description">
      <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam vero beatae sequi.
      Maiores atque dicta voluptas et, sapiente repellendus delectus nostrum nulla error cupiditate
      quibusdam voluptate vero nobis soluta alias.
      </p>
   </div>

</div>
